$list-img-circle:"smm.jpg","email.png","ya-direct.png","seo.jpg","cross.jpg";
@font-face {
    font-family: "DAN";
    src: url(../font/DaneehandRegularCyr.ttf);
}
$font:"DAN";
@mixin flexible () {
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    display:flex;
    justify-content: space-between;
    height:15vh;

.logo{
    background: url("../img/logo.jpg");
    background-size: cover;
    width: 200px;
}
.top{
    width:unquote("-webkit-calc(100% - 200px)");
    @include flexible();
    div{
        @include flexible();
        background:#6699CC;
        flex:1 1 20%;
        height: 5vh;
        font-size: 1.5rem;
        color: white;

    }
   
}
}
.second-row{
    @include flexible();
    background: url("../img/logo-marketing.jpg") no-repeat;
    width: 100%;
    height: auto;
    aspect-ratio: 3/1;
    background-size: cover;
    font-family: $font;
    font-size: 5rem;
    margin-bottom: 50px;
}
@for $i from 1 to 5 {
    .repeat-lines#{$i}{
        display: flex;
        height: auto;
        margin: 0 30px;
        .text, .img{
            flex:1 1 50%;
        }
        .text{
            margin:0 30px;
            font-family: $font;
            font-size: 2rem;
            font-size: unquote("calc(0.5rem + 2vw)");
        }
        .img{
            aspect-ratio: 2/1.5;
            object-fit: contain;
        img{
            width: 100%;
            height: auto;
        }}
        @if $i % 2==0
        {
            flex-direction: row-reverse;
        }
    }
}
$j:1;
.circle-line{
    display: flex;
    justify-content:space-around;
    @each $i in $list-img-circle
    {
        .circle#{$j}{
            aspect-ratio: 1/1;
            flex: 0 0 15vw;
            background: url("../img/" + $i) no-repeat;
            background-size: cover;
            border-radius: 150px;
            border:3px solid rgb(235, 20, 181);
            box-shadow: 2px 2px 3px #66FFFF;
        }
        $j:$j+1
    }
}
.hamburger-menu
{
display:none;
}
#menu__toggle {
opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
top: 0;
transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
top: 0;
transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
visibility: visible;
left: 0;
}

.menu__btn {
display: flex;
align-items: center;
position: fixed;
top: 20px;
left: 20px;

width: 26px;
height: 26px;

cursor: pointer;
z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
display: block;
position: absolute;

width: 100%;
height: 2px;

background-color: #616161;

transition-duration: .25s;
}
.menu__btn > span::before {
content: '';
top: -8px;
}
.menu__btn > span::after {
content: '';
top: 8px;
}

.menu__box {
display: block;
position: fixed;
visibility: hidden;
top: 0;
left: -100%;

width: 300px;
height: 100%;

margin: 0;
padding: 80px 0;

list-style: none;

background-color: #ECEFF1;
box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

transition-duration: .25s;
}

.menu__item {
display: block;
padding: 12px 24px;

color: #333;

font-family: 'Roboto', sans-serif;
font-size: 20px;
font-weight: 600;

text-decoration: none;

transition-duration: .25s;
}
.menu__item:hover {
background-color: #CFD8DC;
}
@media (max-width: 800px)
{
    .hamburger-menu
{
    display: block;
}
header{
    display: none;
}
@for $i from 1 to 5 {
    .repeat-lines#{$i}{
        display: flex;
        flex-direction: column;
        margin: 30px 30px;
        border: 3px solid black;
        border-radius: 10px;
    }
}
}